/* Login Page Styling */
body {
    background-color: #f0f4f8; /* Light grey-blue background */
    color: #333333; /* Dark grey text */
    font-family: 'Calibri', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333333; /* Dark grey title color */
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    background-color: #ffffff; /* White form background */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #333333; /* Dark grey text */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #6c757d; /* Soft grey-blue border */
    border-radius: 5px;
    background-color: #f0f4f8; /* Match body background */
    color: #333333; /* Dark grey text */
    font-size: 1em;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* Clean and Minimal Button Styling */
.button-minimal {
    width: 100%;
    padding: 15px;
    border: 2px solid #333333; /* Dark grey border */
    border-radius: 5px;
    background-color: #ffffff; /* White background */
    color: #333333; /* Dark grey text */
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    font-family: 'Calibri', sans-serif; /* Matching the font */
    text-transform: uppercase; /* Make the text uppercase */
    font-weight: bold; /* Make the text bold */
    text-align: center;
    box-shadow: none; /* Remove any shadow for a flat look */
}

.button-minimal:hover {
    background-color: #949292; /* Dark grey background on hover */
    color: #ffffff; /* White text on hover */
    border-color: #949292; /* Dark grey border on hover */
}

.button-minimal:focus {
    outline: none;
    border-color: #3f3f3f; /* Blue border on focus */
}

p {
    margin-top: 10px;
    text-align: center;
}

a {
    color: #3f3f3f; /* Blue links */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
